{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-3">
        <a class="btn btn-lg btn-block btn-success" href="/producto" role="button">Productos</a>
    </div>
    <div class="col-3">
        <a class="btn btn-lg btn-block btn-success" href="categoria" role="button">Categorias</a>
    </div>
    <div class="col-3">
        <a class="btn btn-lg btn-block btn-success" href="/imagen" role="button">Multimedia</a>
    </div>
</div>
{% endblock %}
